$font-family-base: "Roboto";
$primary: #1a61b2;
$secondary: #a42a29;
$body-bg: salmon;
$body-color: #434343;
//bootstrap variable override
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
);
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1900px,
);
